<a href="https://colab.research.google.com/github/zhg17/zhg17.github.io/blob/master/UFCDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
raw_data = pd.read_csv('raw_total_fight_data.csv',sep = ";")
raw_data.head()

,R_fighter,B_fighter,R_KD,B_KD,R_SIG_STR.,B_SIG_STR.,R_SIG_STR_pct,B_SIG_STR_pct,R_TOTAL_STR.,B_TOTAL_STR.,...,B_GROUND,win_by,last_round,last_round_time,Format,Referee,date,location,Fight_type,Winner
0,Henry Cejudo,Marlon Moraes,0,0,90 of 171,57 of 119,52%,47%,99 of 182,59 of 121,...,1 of 1,KO/TKO,3,4:51,5 Rnd (5-5-5-5-5),Marc Goddard,"June 08, 2019","Chicago, Illinois, USA",UFC Bantamweight Title Bout,Henry Cejudo
1,Valentina Shevchenko,Jessica Eye,1,0,8 of 11,2 of 12,72%,16%,37 of 40,42 of 52,...,0 of 0,KO/TKO,2,0:26,5 Rnd (5-5-5-5-5),Robert Madrigal,"June 08, 2019","Chicago, Illinois, USA",UFC Women's Flyweight Title Bout,Valentina Shevchenko
2,Tony Ferguson,Donald Cerrone,0,0,104 of 200,68 of 185,52%,36%,104 of 200,68 of 185,...,0 of 0,TKO - Doctor's Stoppage,2,5:00,3 Rnd (5-5-5),Dan Miragliotta,"June 08, 2019","Chicago, Illinois, USA",Lightweight Bout,Tony Ferguson
3,Jimmie Rivera,Petr Yan,0,2,73 of 192,56 of 189,38%,29%,76 of 195,58 of 192,...,4 of 10,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Kevin MacDonald,"June 08, 2019","Chicago, Illinois, USA",Bantamweight Bout,Petr Yan
4,Tai Tuivasa,Blagoy Ivanov,0,1,64 of 144,73 of 123,44%,59%,66 of 146,81 of 131,...,6 of 6,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Dan Miragliotta,"June 08, 2019","Chicago, Illinois, USA",Heavyweight Bout,Blagoy Ivanov

In [2]:
red_significant_strikes = raw_data['R_SIG_STR.']
blue_significant_strikes = raw_data['B_SIG_STR.']

red_landed = []
red_attempted = []
blue_landed = []
blue_attempted = []

for i in red_significant_strikes:
    split = i.split()
    red_landed.append(int(split[0]))
    red_attempted.append(int(split[2]))

for i in blue_significant_strikes:
    split = i.split()
    blue_landed.append(int(split[0]))
    blue_attempted.append(int(split[2]))

raw_data['R_SIG_STR_landed'] = red_landed
raw_data['R_SIG_STR_att'] = red_attempted
raw_data['B_SIG_STR_landed'] = blue_landed
raw_data['B_SIG_STR_att'] = blue_attempted

red_total_strikes = raw_data['R_TOTAL_STR.']
blue_total_strikes = raw_data['B_TOTAL_STR.']

red_landed = []
red_attempted = []
blue_landed = []
blue_attempted = []

for i in red_total_strikes:
    split = i.split()
    red_landed.append(int(split[0]))
    red_attempted.append(int(split[2]))

for i in blue_total_strikes:
    split = i.split()
    blue_landed.append(int(split[0]))
    blue_attempted.append(int(split[2]))

raw_data['R_TOTAL_STR_landed'] = red_landed
raw_data['R_TOTAL_STR_att'] = red_attempted
raw_data['B_TOTAL_STR_landed'] = blue_landed
raw_data['B_TOTAL_STR_att'] = blue_attempted

raw_data.drop(['R_SIG_STR.', 'B_SIG_STR.', 'R_SIG_STR_pct', 'B_SIG_STR_pct', 'R_TOTAL_STR.', 'B_TOTAL_STR.',
              'R_TD_pct', 'B_TD_pct'], 
              axis=1, inplace=True)
raw_data

,R_fighter,B_fighter,R_KD,B_KD,R_TD,B_TD,R_SUB_ATT,B_SUB_ATT,R_PASS,B_PASS,...,Fight_type,Winner,R_SIG_STR_landed,R_SIG_STR_att,B_SIG_STR_landed,B_SIG_STR_att,R_TOTAL_STR_landed,R_TOTAL_STR_att,B_TOTAL_STR_landed,B_TOTAL_STR_att
0,Henry Cejudo,Marlon Moraes,0,0,1 of 4,0 of 2,1,0,1,0,...,UFC Bantamweight Title Bout,Henry Cejudo,90,171,57,119,99,182,59,121
1,Valentina Shevchenko,Jessica Eye,1,0,2 of 2,0 of 0,1,0,3,0,...,UFC Women's Flyweight Title Bout,Valentina Shevchenko,8,11,2,12,37,40,42,52
2,Tony Ferguson,Donald Cerrone,0,0,0 of 0,1 of 1,0,0,0,0,...,Lightweight Bout,Tony Ferguson,104,200,68,185,104,200,68,185
3,Jimmie Rivera,Petr Yan,0,2,0 of 3,1 of 3,0,0,0,1,...,Bantamweight Bout,Petr Yan,73,192,56,189,76,195,58,192
4,Tai Tuivasa,Blagoy Ivanov,0,1,0 of 0,2 of 2,0,0,0,0,...,Heavyweight Bout,Blagoy Ivanov,64,144,73,123,66,146,81,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139,Gerard Gordeau,Kevin Rosier,1,0,0 of 0,0 of 0,0,0,0,0,...,Open Weight Bout,Gerard Gordeau,11,17,0,3,11,17,0,3
5140,Ken Shamrock,Patrick Smith,0,0,1 of 2,0 of 0,2,0,0,0,...,Open Weight Bout,Ken Shamrock,1,1,4,8,4,4,16,20
5141,Royce Gracie,Art Jimmerson,0,0,1 of 1,0 of 0,0,0,2,0,...,Open Weight Bout,Royce Gracie,0,3,0,0,4,7,0,0
5142,Kevin Rosier,Zane Frazier,2,0,0 of 0,0 of 0,0,0,0,0,...,Open Weight Bout,Kevin Rosier,15,27,12,28,38,53,13,29
5143,Gerard Gordeau,Teila Tuli,0,0,0 of 0,0 of 1,0,0,0,0,...,Open Weight Bout,Gerard Gordeau,3,5,0,1,3,5,0,1

In [3]:
# Adding gender of fighters
fight_type = raw_data['Fight_type']

gender = []

for s in fight_type:
    if 'Women' in s:
        gender.append('F')
    else:
        gender.append('M')

raw_data['Gender'] = gender

raw_data

,R_fighter,B_fighter,R_KD,B_KD,R_TD,B_TD,R_SUB_ATT,B_SUB_ATT,R_PASS,B_PASS,...,Winner,R_SIG_STR_landed,R_SIG_STR_att,B_SIG_STR_landed,B_SIG_STR_att,R_TOTAL_STR_landed,R_TOTAL_STR_att,B_TOTAL_STR_landed,B_TOTAL_STR_att,Gender
0,Henry Cejudo,Marlon Moraes,0,0,1 of 4,0 of 2,1,0,1,0,...,Henry Cejudo,90,171,57,119,99,182,59,121,M
1,Valentina Shevchenko,Jessica Eye,1,0,2 of 2,0 of 0,1,0,3,0,...,Valentina Shevchenko,8,11,2,12,37,40,42,52,F
2,Tony Ferguson,Donald Cerrone,0,0,0 of 0,1 of 1,0,0,0,0,...,Tony Ferguson,104,200,68,185,104,200,68,185,M
3,Jimmie Rivera,Petr Yan,0,2,0 of 3,1 of 3,0,0,0,1,...,Petr Yan,73,192,56,189,76,195,58,192,M
4,Tai Tuivasa,Blagoy Ivanov,0,1,0 of 0,2 of 2,0,0,0,0,...,Blagoy Ivanov,64,144,73,123,66,146,81,131,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139,Gerard Gordeau,Kevin Rosier,1,0,0 of 0,0 of 0,0,0,0,0,...,Gerard Gordeau,11,17,0,3,11,17,0,3,M
5140,Ken Shamrock,Patrick Smith,0,0,1 of 2,0 of 0,2,0,0,0,...,Ken Shamrock,1,1,4,8,4,4,16,20,M
5141,Royce Gracie,Art Jimmerson,0,0,1 of 1,0 of 0,0,0,2,0,...,Royce Gracie,0,3,0,0,4,7,0,0,M
5142,Kevin Rosier,Zane Frazier,2,0,0 of 0,0 of 0,0,0,0,0,...,Kevin Rosier,15,27,12,28,38,53,13,29,M
5143,Gerard Gordeau,Teila Tuli,0,0,0 of 0,0 of 1,0,0,0,0,...,Gerard Gordeau,3,5,0,1,3,5,0,1,M

## Red Fighter = 1
## Blue Fighter = 0

In [4]:
# Zebra

# Cleaning the Winner column (red fighter = 1; blue fighter = 0)
new_winners = []

# Dropping rows with missing data
raw_data.dropna(how="any", axis = 0, inplace = True)

raw_data = raw_data.reset_index()

red_fighters = raw_data['R_fighter']
blue_fighters = raw_data['B_fighter']
winners = raw_data['Winner']

for i in range(0, len(winners)):
    if (red_fighters[i] == winners[i]):
        new_winners.append(1)
    elif (blue_fighters[i] == winners[i]):
        new_winners.append(0)

raw_data['Winner'] = new_winners

In [5]:
raw_data

,index,R_fighter,B_fighter,R_KD,B_KD,R_TD,B_TD,R_SUB_ATT,B_SUB_ATT,R_PASS,...,Winner,R_SIG_STR_landed,R_SIG_STR_att,B_SIG_STR_landed,B_SIG_STR_att,R_TOTAL_STR_landed,R_TOTAL_STR_att,B_TOTAL_STR_landed,B_TOTAL_STR_att,Gender
0,0,Henry Cejudo,Marlon Moraes,0,0,1 of 4,0 of 2,1,0,1,...,1,90,171,57,119,99,182,59,121,M
1,1,Valentina Shevchenko,Jessica Eye,1,0,2 of 2,0 of 0,1,0,3,...,1,8,11,2,12,37,40,42,52,F
2,2,Tony Ferguson,Donald Cerrone,0,0,0 of 0,1 of 1,0,0,0,...,1,104,200,68,185,104,200,68,185,M
3,3,Jimmie Rivera,Petr Yan,0,2,0 of 3,1 of 3,0,0,0,...,0,73,192,56,189,76,195,58,192,M
4,4,Tai Tuivasa,Blagoy Ivanov,0,1,0 of 0,2 of 2,0,0,0,...,0,64,144,73,123,66,146,81,131,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5034,5139,Gerard Gordeau,Kevin Rosier,1,0,0 of 0,0 of 0,0,0,0,...,1,11,17,0,3,11,17,0,3,M
5035,5140,Ken Shamrock,Patrick Smith,0,0,1 of 2,0 of 0,2,0,0,...,1,1,1,4,8,4,4,16,20,M
5036,5141,Royce Gracie,Art Jimmerson,0,0,1 of 1,0 of 0,0,0,2,...,1,0,3,0,0,4,7,0,0,M
5037,5142,Kevin Rosier,Zane Frazier,2,0,0 of 0,0 of 0,0,0,0,...,1,15,27,12,28,38,53,13,29,M
5038,5143,Gerard Gordeau,Teila Tuli,0,0,0 of 0,0 of 1,0,0,0,...,1,3,5,0,1,3,5,0,1,M